.container{
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

.flex-box-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
}

button{
    padding: 10px 15px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.button2 button{
    background-color: red;
}
.result{
    border: 1px solid black;
    padding: 10px;
}




